.food-burger {
    height: 50px;
    width: 50px;
}

.food-protein{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.font-green{
    color: #428F00;
}

.color-brown{
    color:#9D3509;
}

.font-large{
    font-size: 40px;
}

.container-save-food{
    margin-top: 10px;
    margin-bottom: 10px;
}