.food-burger {
    height: 50px;
    width: 50px;
}

.food-protein{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.font-large{
    font-size: 40px;
}

.container-save-food{
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-subtitle{
    color: #09ae85 !important;
}

.lead{
    color : #5E5E5E;
}

.caption h3{
    color : #5E5E5E;
}

.heading1{
    color : #09ae85;
}

.button{
    background-color : #09ae85;
    color : white;
    width: 140px;
}

.add-nutrient-subtext{
    color : #09ae85;
    font-size : 13px;
    cursor: pointer;
    vertical-align: top;
}

.add-nutrient-subtext:hover{
    font-weight: bold;
}

.navbar-header a{
    color : black !important;
    background: none;
    text-shadow: none;
    font-size: 20px;
}

.developer-text{
    color : white !important;
    font-size: 15px;
}

.jumbotron{
    background-color : #eff3f1;
    border : solid 1px #d9dddb;
    border-radius : 5px;
}

.navbar-inverse{
    background-image : none;
    background-color : #09ae85;
    border : solid 1px #09ae85;
}

.alert-success{
    background-image: none;
    background-color: #EFF3F1;
    border: solid 1px #EFF3F1;
    color : #09AE85;
    font-size: 20px;
}

.products-panel-heading{
    padding-top: 15px;
    padding-bottom: 15px;
}

.products-panel-heading h4{
    font-size: 25px;
}

.list-group-item-text{
    text-align: left;
    font-size: 15px !important;
}

.list-group-item-heading{
    text-align: left;
    font-size: 20px;
}

a.list-group-item.active.products-panel-heading{
    background-image: none;
    background-color: #09ae85;
    border: solid 1px #09AE85;
}

a.list-group-item:focus, a.list-group-item:hover{
    background-color: #d9dddb;
    color : #09AE85;
}



.consumption-table thead{
    background-color: #09AE85;
    color:white;
}

.glyphicon-plus{
    cursor: pointer;
}

.glyphicon-plus:hover{
    color: #08795a;
}

.title-text h4{
   color:#09AE85;
   font-size: 22px !important;
}

.products-thumbnail{
    cursor: pointer;
    text-align: center;
}

.panel-title{
    color : #09AE85;
    font-size: 30px !important;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}

.panel-default>.panel-heading h3{
    font-size: 22px;
}

.thumbnail{
    background-color: #E4E4E4 !important;
    color: #09AE85 !important;
    border : solid 1px #BDBDBD;
}

.thumbnail:hover{
    background-color: #fe7a15 !important;
    color: white !important;
    border : solid 1px #fe7a15;
}

.caption{
    color : inherit !important;
    text-align: center;
}

.demo{
    color : #9efee8;
}

.font-product-name{
    font-size: 50px;
    padding : 5px 0px 5px 15px !important;
    height: 80px !important;
    border-radius: 2px !important;
}

.font-product-quantity{
    font-size: 30px;
    padding : 5px 0px 5px 15px !important;
    height: 50px !important;
    border-radius: 4px !important;
}

.new-product-thumbnail{
    border:solid 1px #D9DDDB;
    color: #B2B2B2 !important;
    font-size: 20px;
}

.new-product-thumbnail:hover{
    border:solid 1px #B2B2B2 !important;
    background-color: #E5E5E5 !important;
    color: #B2B2B2 !important;
    cursor: pointer;
}

.panel-body{
    background-color: #EFF3F1;
}
